a {
  text-decoration: none;
  color: black;
}
.cards{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}
.filter{
  margin: 5px;
}
.body-head{
  display: flex;
  align-items: center;
}


.header{
  display: flex;
  justify-content: space-between;
  border: solid 1px  #aaa6a6;
  box-shadow: 10px;
}



.logo{
  width: 180px;
  height: 80px;
  margin:5px;
  object-fit: cover;
  border-radius: 50px;
}

.nav-links{
  display: flex;
  
}

.nav-links > ul{
  font-size: larger;
  display: flex;
  list-style-type: none;
}

.nav-links > ul > li{
  margin: 15px;
}

.res-card{
  padding: 5px;
  width: 300px;
  height: 580px;
  

  display: flex;

  flex-direction: column;
  word-wrap: break-word;
    overflow-wrap: break-word;
  

  margin: 10px;
  border-radius:3px ;
  border: solid 1px #aaa6a6;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
    padding: 5px;
    width: 270px;
    height: 400px;
    margin: 5px;
    border-radius: 3px;
    background-color: #d8d4d4;
    border: solid 1px #aaa6a6;
}
.res-des{
  display: flex;
  flex-direction: column;
}
.res-card:hover{
  border: 1.1px solid black;
  cursor: pointer;
  background-color: aliceblue;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);


}
.res-img{
  
  object-fit: cover;
  width: 100%;
  height: 60% ;
}

.search{
  margin:5px;
  position: relative;
  display: flex;
  align-items: center;
}
.search-btn{
  background-color: #05c598;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search-box {
  position: relative;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #7b7777;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
  transition: border-color 0.3s;
}

.search-box.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  opacity: 0;
  max-height: 250px;
  overflow-y: auto;
  background-color: white;
  /* Add a background color to suggestions for better visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Optional: Add a shadow for a better look */
  z-index: 1000;
  /* Ensure suggestions appear above other content */
  transition: opacity 0.3s;
}

.search-box:focus-within .suggestions {
  opacity: 1;
  padding: 10px 8px;
}

.suggestions .suggestion {
  padding: 8px 12px;
  width: 100%;
  border-radius: 3px;
  display: block;
  /* Ensure suggestions are displayed as block elements */
}

/* Optional: Style the suggestions on hover */
.suggestions .suggestion:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.filter-btn {
  background-color: #05c598;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.filter-btn:hover {
  background-color: #05c598;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.filter-btn:active {
  background-color: #05c598;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.res-menu-head{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  margin-left: 50px;
}

.menu-img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.user-card {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.veg-label{
  position:absolute;
  background-color: rgb(6, 223, 42);
  padding: 5px;
  margin: 16px;
  border: #7b7777;
  border-radius: 2px;
}

.res-menu-body{
display: flex;
flex-direction: column;
align-items: center;
}

.menu-cat{
  display: flex;
  width: 850px;
  flex-direction: column;
  border-radius: 3px;
  background-color:#f8f6f6;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 8px;
  
}
.menu-cat-head{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 6px;

}
.menu-cat-head-text{
font-size: x-large;
}

.item{
  padding: 10px;
  margin: 10px;
  font-size: medium;
  border-bottom:1px solid #0b0b0b;
 
}
.item-head{
  display: flex;
  justify-content: space-between;
}
.item-head-des{
font-size: small;
}
.item-img{
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid rgb(235, 225, 225);
  border-radius: 5px;
}
.item-add-button{
  position:absolute;
  width: 70px;
  background-color: #2ab008;
  color: #f8f6f6;
  margin-left: 85px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.item-add-button:hover{
    color: #2ab008;
    background-color: #f8f6f6;
    transition: 200ms;
}

.user-input{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.cart{
  display: flex;
  align-items: center;
  margin: auto;
  width: 750px;
  justify-content: space-between;
  flex-direction: column;
}







